.fs-9 { font-size: 9px !important;}
.fs-10 { font-size: 10px !important;}
.fs-11 { font-size: 11px !important;}
.fs-12 { font-size: 12px;}
.fs-14 { font-size: 14px !important;}
.fs-16 { font-size: 16px;}
.fs-18 { font-size: 18px;}
.fs-20 { font-size: 20px;}
.fs-22 { font-size: 22px;}
.fs-24 { font-size: 24px;}
.fs-26 { font-size: 26px;}
.fs-28 { font-size: 28px;}
.fs-30 { font-size: 30px;}
.fs-32 { font-size: 32px;}
.fs-34 { font-size: 34px;}
.fs-36 { font-size: 36px;}
.fs-38 { font-size: 38px;}
.bg-dark-grey {
    background: #6d6e70;
}
.bg-grey {
    background: #848587;
}
.b-grey {
    background: #b5b7b6;
}
.social_media {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    right:0;
    height:500px;
    letter-spacing: 5px;
}
.letter {
    letter-spacing: 5px;
}
.letter-4 {
    letter-spacing: 3px;
}
.letter-3 {
    letter-spacing: 3px;
}
.btn-trans-default {
    border: none;
    background: transparent;
    border: 1.5px solid white;
}
input, textarea:focus {
    outline: none;
}
.input-default {
    border: none;
    background: transparent;
    border: 1px solid white;
    color: white;
}
.check_in {
    width: 250px;
    letter-spacing: 2px;
}
.list-none {
    list-style: none;
}
.wrapper_photo {
    height: 250px;
}
.wrapper_tc {
    border-left: 1.5px solid #9d9d9d;
    border-right: 1.5px solid #9d9d9d;
    height: 300px;
}
.bx-wrapper {
    margin-bottom: 0px !important;
    border: none !important;
}
.text_hanging {
    top: 20px;
    right: 30px;
    z-index: 1;
}
.text_hanging_bottom {
    bottom: 30px;
    right: 30px;
    z-index: 1; 
}